<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="~/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/ico/apple-touch-icon-57-precomposed.png">
    <style>
    </style>
  </head>
  <body>
    
    <div class="navbar-wrapper">
      <div class="container">
    
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" sourceindex="0">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="http://homezone.herokuapp.com/">Home Zone</a>
            @*<div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#" class="">Home</a></li>
                <li><a href="#about" class="">About</a></li>
                <li><a href="#contact" class="">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>*@
          </div>
        </div>
    
      </div>
    </div>
    
    
    
    <div id="myCarousel" class="carousel slide" data-pause="remove">
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/2.0/assets/cta_image1.jpg" class="">
          <div class="container">
              <div class="hero-unit"><h1 class="">Home Zone</h1><p class="">Our goal is to solve Western Australia's current issue of housing shortage. In a weekend!</p>
                  <span style="text-align: right">-Team Gironkey</span><br/><br/>
                   <a class="btn btn-large btn-primary" href="http://homezone.herokuapp.com/">Launch Home Zone</a>
              </div>
              <div class="carousel-caption">
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/2.0/assets/cta_image2.jpg" class="">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="">Can I subdivide my block?</h1>
              <p class="lead">Many people don't know what their property zoning is. Sometimes zones are changed by councils to encourage development. This information often does not make it to the owners. Your block may be sub-dividable and you don't even realise.</p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="https://s3.amazonaws.com/jetstrap-site/images/2.0/assets/cta_image3.jpg" class="">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="">Who are we?</h1>
              <p class="lead">Colin Daly - colindaly@gmail.com - @@MayorDalyAu<div class="lead">Stephen Price - stephen@perthprojects.com - @@lyynx</div><div class="lead">Ankur Shardais - ankurshardais@gmail.com</div></p>
              <a class="btn btn-large btn-primary" href="#">Contact Us<br></a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
    
    
    
    <div class="container marketing">
    
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2 class="">Front End</h2>
          <p class="">Home Zone's front end is written in Java and is hosted up on Heroku.<div>Run any web or background process with any web framework or worker type. Get direct, granular control over your app's workloads. Scale distributed processes effortlessly with a single command. Easily scale to millions of users.<br></div></p><div class="">www.heroku.com<br></div><p></p>
          <p class=""><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2 class="">Back End</h2>
          <p class="text-center">The back end of Home Zone is written in C# and is hosted on Azure.&nbsp;<div class="">Bring it. We run it. Infrastructure Services.</div></p><div class="">www.windowsazure.com</div><p></p>
          <p class=""><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2 class="">SLIP</h2>
          <p class="">Home Zone makes calls to SLIP, which is a service provided by Landgate.&nbsp;<div class="">SLIP Enabler has transformed the way government spatial information is used and shared. Cutting edge technology provides users with the ability to discover, view and access over 2,400 datasets - anywhere, any time - through a single online environment.&nbsp;</div></p><div class="">www.landgate.wa.gov.au</div><p></p>
          <p class=""><a class="btn" href="#">View details »</a></p>
        </div>
      </div>
   
@*      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2013 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>*@
    
    </div>
    
    

    <style>
      
      /* GLOBAL STYLES
      -------------------------------------------------- */
      /* Padding below the footer and lighter body text */
      
      body {
        padding-bottom: 40px;
        color: #5a5a5a;
      }
      
      
      
      /* CUSTOMIZE THE NAVBAR
      -------------------------------------------------- */
      
      /* Special class on .container surrounding .navbar, used for positioning it into place. */
      .navbar-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        margin-top: 20px;
        margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
      }
      .navbar-wrapper .navbar {
      
      }
      
      /* Remove border and change up box shadow for more contrast */
      .navbar .navbar-inner {
        border: 0;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        box-shadow: 0 2px 10px rgba(0,0,0,.25);
      }
      
      /* Downsize the brand/project name a bit */
      .navbar .brand {
        padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0,0,0,.5);
      }
      
      /* Navbar links: increase padding for taller navbar */
      .navbar .nav > li > a {
        padding: 15px 20px;
      }
      
      /* Offset the responsive button for proper vertical alignment */
      .navbar .btn-navbar {
        margin-top: 10px;
      }
      
      
      
      /* CUSTOMIZE THE CAROUSEL
      -------------------------------------------------- */
      
      /* Carousel base class */
      .carousel {
        margin-bottom: 60px;
      }
      
      .carousel .container {
        position: relative;
        z-index: 9;
      }
      
      .carousel-control {
        height: 80px;
        margin-top: 0;
        font-size: 120px;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
        background-color: transparent;
        border: 0;
        z-index: 10;
      }
      
      .carousel .item {
        height: 500px;
      }
      .carousel img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 500px;
      }
      
      .carousel-caption {
        background-color: transparent;
        position: static;
        max-width: 550px;
        padding: 0 20px;
        margin-top: 200px;
      }
      .carousel-caption h1,
      .carousel-caption .lead {
        margin: 0;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
      }
      .carousel-caption .btn {
        margin-top: 10px;
      }
      
      
      
      /* MARKETING CONTENT
      -------------------------------------------------- */
      
      /* Center align the text within the three columns below the carousel */
      .marketing .span4 {
        text-align: center;
      }
      .marketing h2 {
        font-weight: normal;
      }
      .marketing .span4 p {
        margin-left: 10px;
        margin-right: 10px;
      }
      
      
      /* Featurettes
      ------------------------- */
      
      .featurette-divider {
        margin: 80px 0; /* Space out the Bootstrap <hr> more */
      }
      .featurette {
        padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
        overflow: hidden; /* Vertically center images part 2: clear their floats. */
      }
      .featurette-image {
        margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
      }
      
      /* Give some space on the sides of the floated elements so text doesn't run right into it. */
      .featurette-image.pull-left {
        margin-right: 40px;
      }
      .featurette-image.pull-right {
        margin-left: 40px;
      }
      
      /* Thin out the marketing headings */
      .featurette-heading {
        font-size: 50px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
      }
      
      
      
      /* RESPONSIVE CSS
      -------------------------------------------------- */
      
      @@media (max-width: 979px) {
      
        .container.navbar-wrapper {
          margin-bottom: 0;
          width: auto;
        }
        .navbar-inner {
          border-radius: 0;
          margin: -20px 0;
        }
      
        .carousel .item {
          height: 500px;
        }
        .carousel img {
          width: auto;
          height: 500px;
        }
      
        .featurette {
          height: auto;
          padding: 0;
        }
        .featurette-image.pull-left,
        .featurette-image.pull-right {
          display: block;
          float: none;
          max-width: 40%;
          margin: 0 auto 20px;
        }
      }
      
      
      @@media (max-width: 767px) {
      
        .navbar-inner {
          margin: -20px;
        }
      
        .carousel {
          margin-left: -20px;
          margin-right: -20px;
        }
        .carousel .container {
      
        }
        .carousel .item {
          height: 300px;
        }
        .carousel img {
          height: 300px;
        }
        .carousel-caption {
          width: 65%;
          padding: 0 70px;
          margin-top: 100px;
        }
        .carousel-caption h1 {
          font-size: 30px;
        }
        .carousel-caption .lead,
        .carousel-caption .btn {
          font-size: 18px;
        }
      
        .marketing .span4 + .span4 {
          margin-top: 40px;
        }
      
        .featurette-heading {
          font-size: 30px;
        }
        .featurette .lead {
          font-size: 18px;
          line-height: 1.5;
        }
      
      }
      
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="~/assets/js/bootstrap.js">
    </script>
    <script>

    </script>
  </body>
</html>
